.DS_Store
__pycache__/
.vscode/

prediction/in/*
!prediction/in/preprocessed_data
prediction/in/preprocessed_data/*
!prediction/in/preprocessed_data/.gitkeep
prediction/out/*
!prediction/out/.gitkeep
prediction/past_predictions

preprocessed_data/*
!preprocessed_data/.gitkeep

raw_data/*
!raw_data/README.md

songs/*
!songs/README.md

src/old_models

src/analysis/past_analysis
src/analysis/valid_charts.txt # I ran git update-index --assume-unchanged src/analysis/valid_charts.txt

src/analysis/to_make_model_E

src/predict/example.txt

datasets/E_datasets/songs_used.txt
