.DS_Store
__pycache__/
.vscode/

prediction/in/*
!prediction/in/preprocessed_data
prediction/in/preprocessed_data/*
!prediction/in/preprocessed_data/.gitkeep
prediction/out/*
!prediction/out/.gitkeep
prediction/past_predictions

preprocessed_data/*
!preprocessed_data/.gitkeep

raw_data/*
!raw_data/README.md

songs/*
!songs/README.md

src/old_models

src/analysis/past_analysis
